<section class="banner">
  <% if @user.pictures.any? %>
    <style type="text/css">
      .banner {
        background-image: url(<%= @user.pictures.sample.image_url %>);
      }
    </style>
  <% end %>
</section>

<h1><%= @user.full_name %></h1>

<section class="picture-gallery">
  <div class="container">
    <% @user.pictures.each do |picture| %>
      <div class="picture-card">
        <%= link_to picture_path(picture) do %>
        <div class="overlay">
          <p class="caption"><%= picture.caption %></p>
          <p class="user"><span>Made by</span> <%= picture.user.first_name %></p>
        </div>
        <% end %>
        <%= image_tag picture.image_url %>
      </div>
    <% end %>
  </div>
</section>
