<!DOCTYPE html>
<html>
  <head>
    <title>SevenBest</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="maxwidth">
      <%= link_to root_url do %>
        <nav class="header-left">
          <li class="header-logo"><%= image_tag "http://placehold.it/50x50" %></li>
          <li class="header-name">Seven Best</li>
        </nav>
      <% end %>

      <nav class="header-right">
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Add picture", new_picture_path %></li>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    
    <footer>
      <div class="container">
        <p>&copy; - Colin Hans Sander Jeroen</p>
      <div class="container">
    </footer>
  </body>
</html>
